[submodule "libs/DirectXMath/"]
	path = libs/DirectXMath/
	url = https://github.com/Mixaill/DirectXMath
[submodule "libs/DirectXMath"]
	path = libs/DirectXMath
	url = https://github.com/Mixaill/DirectXMath
